:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}
body {
    font-family: 'Roboto', sans-serif;
}
/*Style nav bar*/
.navbar {
    background-color: #19283f;
}
.navbar .nav-item .nav-link {
    color: #fff;
    font-weight: bold;
}
.navbar .nav-item .nav-link.active,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus {
    color: var(--green-color);
}
.navbar .search {
    border-left: 2px solid var(--green-color);
}
.navbar .search svg {
    color: var(--green-color);
}
.main-btn {
    background-color: var(--red-color);
    font-weight: bold;
    color: #fff;
}