:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}
body {
    font-family: 'Roboto', sans-serif;
}
/*Style nav bar*/
.navbar {
    background-color: #19283f;
}
.navbar .nav-item .nav-link {
    color: #fff;
    font-weight: bold;
}
.navbar .nav-item .nav-link.active,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus {
    color: var(--green-color);
}
.navbar-toggler svg {
    color: #fff;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar .search {
    border-left: 2px solid var(--green-color);
}
.navbar .search svg {
    color: var(--green-color);
}
.main-btn {
    background-color: var(--red-color);
    font-weight: bold;
    color: #fff;
    color: var(--yellow-color);
}
/*landing section*/
.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh - 75px);
}
/*features section*/
.main-title::before {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.features .feat .icons {
    height: 200px;
}
.features .feat .icons svg{
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.features .feat .icons .num {
    font-size: 12rem;
    color: var(--section-color);
}
.features .feat .icons .icon {
    bottom: 0;
    color: var(--green-color);
}
.features .feat h4 {
    color: var(--yellow-color);
}
/*our work*/
.our-work {
    background-color: var(--section-color);
}
.our-work ul li.active {
    background-color: var(--red-color);
    color: #ffc400;
}
.our-work ul li:not(.active):hover {
    color: var(--red-color);
}
.box img {
    padding: 5px;
}
.box::before {
    content: attr(data-work);
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #33d1cc88;
    left: 5px;
    top: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateX(calc(-100% - 5px));
    -moz-transform: translateX(calc(-100% - 5px));
    -ms-transform: translateX(calc(-100% - 5px));
    -o-transform: translateX(calc(-100% - 5px));
    transform: translateX(calc(-100% - 5px));
}
.box:hover:before{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
/*stuff*/
.stuff .container > p {
    max-width: 500px;
}